/*!
 * Start Bootstrap - One Page Wonder HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
     /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

@font-face { 
    font-family: GWTWO; 
    src: url('GWTwo.ttf'); 
}

.featurette h2{
    color: #87000a;
    font-family: GWTWO;
}

table.weekly-schedule{
    margin-bottom: 60px;
}

h4.media-heading{
    color: #87000a;
    font-family: GWTWO;
    font-size: 2.2em;
}

.navbar-fixed-top{
    
    background-image: url('top-nav.png');
    height: 92px;
    width: 100%;    
}

img.media-object{
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}
img.media-object:hover{
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}



.navbar-nav a{
    color: #fff;
    font-family: GWTWO;
    font-size: 20px;
    
}

.navbar-nav a:hover{
    color: #777;
}

.nav>li>a:hover, 
.nav>li>a:focus{
    background-color: transparent;
}

.navbar-header a{
    color: #fff;
    font-family: GWTWO;
    font-size: 35px;
}

h1.schedule{
    font-family: GWTWO;
    margin-bottom: 20px;
    font-size: 4em;
    color: #87000a;
}

h2.leaders{
    font-family: GWTWO;
    color: #87000a;
    margin-bottom: 40px;
}

.header-image{
    
    width: 100%;
}
.header-image-small{
    width: 100%;
    margin-top: 70px;
}
.logoV2{
    -webkit-transition: all 1.5s ease; /* Safari and Chrome */
    -moz-transition: all 1.5s ease; /* Firefox */
    -ms-transition: all 1.5s ease; /* IE 9 */
    -o-transition: all 1.5s ease; /* Opera */
    transition: all 1.5s ease;
}
.logoV2:hover{
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}

.img-circle{
    -webkit-transition: all 1.0s ease; /* Safari and Chrome */
    -moz-transition: all 1.0s ease; /* Firefox */
    -ms-transition: all 1.0s ease; /* IE 9 */
    -o-transition: all 1.0s ease; /* Opera */
    transition: all 1.0s ease;
}

.img-circle:hover{
     -webkit-transform:scale(0.98); /* Safari and Chrome */
    -moz-transform:scale(0.98); /* Firefox */
    -ms-transform:scale(0.98); /* IE 9 */
    -o-transform:scale(0.98); /* Opera */
     transform:scale(0.98);
}

.footer-image{
	width: 100%;
    height: 80px;
	margin-top: 150px;
    background-image: url('footer-image.png');
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

.panel-primary{
	border-color: #87000a;
}

.panel-primary .panel-heading{
	background-color: #87000a;
	border-bottom: #87000a;
}

.faq-section{
	margin-top: 130px;
}

.week-section{
    margin-top: 130px;
}

.modal-sm{
    width: 400px;
}

.modal-form{
    padding-bottom: 35px;
}

.btn-primary {
  color: #fff;
  background-color: #87000a;
  border-color: #87000a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #777;
  border-color: #777;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #87000a;
  border-color: #87000a;
}
.btn-primary .badge {
  color: #87000a;
  background-color: #fff;
}

display-name{
    color: #87000a;
}

a{
    color: #87000a;
    -webkit-transition: color 0.3s ease; /* Safari and Chrome */
    -moz-transition: color 0.3s ease; /* Firefox */
    -ms-transition: color 0.3s ease; /* IE 9 */
    -o-transition: color 0.3s ease; /* Opera */
    transition: color 0.3s ease;  
}
a:hover{
    color: #777;
}
a:active{
    color: #777;
}
a:focus{
    color: #777;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.small-brand{
    text-decoration: none;
    font-size: 10px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}


@media (max-width: 1200px) {
    .navbar-header {
        float: none;
        font-size: 5px;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        padding-top: 0px;
        margin-top: 20px;
    }
    .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
        background-image: url('nav_dropdown.png');
        background-repeat: no-repeat;

    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;

    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;


    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .collapse.in{
        display:block !important;

    }
}

.home-content{
    margin-top: 20px;
}

.structure-content{
    margin-top: 80px;
}

#arrow{
    background-image: url('arrow_down.png');
    background-repeat: no-repeat;
    height: 20px;
    width: 19px;
    padding-right: 25px;
    margin-bottom: 40px;
}



