<nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="arrow" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    </button>
                    <a class="navbar-brand hidden-xs" href="index.html">The Fairytale Knights</a>
                    <a class="visible-xs navbar-brand" href="index.html">TALE</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="FAQ.html">FAQ</a> 
                        </li>
                        <li>
                            <a href="schedule.html">Schedule</a>
                        </li>
                        <li>
                            <a href="#">Forum</a>
                        </li>
                        <li>
                            <a href="#">The Nightingale</a>
                        </li>
                        <li>
                            <a href="join.html">Join</a>
                        </li> 
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <script>
        var arrow_up = "css/arrow_up.png";
        var arrow_down = "css/arrow_down.png";
        var selector = 0;
        $("#arrow").click(function () {
            if (selector === 0) {
                $("#arrow").css("background-image", "url(" + arrow_up + ")");
                selector = 1;
            }
            else if (selector === 1) {
                $("#arrow").css("background-image", "url(" + arrow_down + ")");
                selector = 0;
            }       
        });
        </script>